# Postgres
POSTGRES_DB=bank
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433

# App
APP_PORT=8081
APP_JWT_SECRET=bank-api-super-secret-key-change-this-in-production-min-32-chars